.formContainer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 248, 0.675);
  padding: 20px 0;
}

.searchBtn {
  width: 50px;
  border: transparent;
  height: 51px;
  background-color: white;
}

.icon:hover {
  color: rgb(255, 64, 0);
}

.inputSearch {
  width: 250px;
  border: none;
  height: 49px;
  background-color: white;
}

.inputSearch:focus {
  outline: none;
}

.icon {
  width: 30px;
  height: 20px;
  color: rgba(3, 7, 255, 0.823);
}
